<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{ partial "nav.html" . }}

    <main class="container">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; {{ now.Year }} Arman Arisman</p>
        </div>
    </footer>

</body>

</html>